<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello ,Kapil</h1>
    <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/home">Home</a>
    <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout">Logout</a>
</body>
</html>